@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-text-main-light bg-background-light dark:text-text-main-dark dark:bg-background-dark;
  }
}
